<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903303844861-dmhcfcrr3rie4ohtg4gnkrs0m7rqu6fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903303844861-dmhcfcrr3rie4ohtg4gnkrs0m7rqu6fl</string>
	<key>API_KEY</key>
	<string>AIzaSyAeJWGip_ouJaXFJ6xBnOD4_oT7ozbz8-g</string>
	<key>GCM_SENDER_ID</key>
	<string>903303844861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danakmat.Elib</string>
	<key>PROJECT_ID</key>
	<string>elib-658e7</string>
	<key>STORAGE_BUCKET</key>
	<string>elib-658e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903303844861:ios:e4792bc7e1bfce91adbf94</string>
</dict>
</plist>